<h1>Productos: Libros! </h1>

{{#if showProducts}}
<!-- En handlebars no existe el metodo .map entonces se utiliza each para renderizar los productos -->
{{#each products}}
<div>
<h2>Titulo: {{this.title}}</h2>
<img alt='Imagen de {{this.title}}' src='../../public/img/{{this.img}}'/>
<h2>Descripción: {{this.description}}</h2>
<h2>Precio: {{this.price}}</h2>
<h2>Stock: {{this.stock}}</h2>
</div>
{{/each}}
{{else}}
<p>No se pueden mostrar los productos</p>
{{/if}}